nav {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

nav li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-left: 20px;
}

nav a:hover {
    color: red;
}

body {
    background-image: url(../img/background.jpg);
}

.text {
    color: white;
    text-align: center;
}

.logo {
    float: left;
}

#sq {
    display: flexbox;
}

.name {
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: cursive;
    color: tomato;
}

#motto {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.size {
    width: 150%;
    height: 150px;
    display: flexbox;
    padding-left: 50px;
}

.hide1 {
    display: none;
}

.hide2 {
    display: none;
}

.hide3 {
    display: none;
}

.date {
    padding-top: 50px;
}

.icons {
    padding-top: 30px;
    text-align: center;
}

.us {
    background-image: url(../img/au.jpeg);
}

.but {
    text-align: center;
    font-size: 19px;
    background-color: grey;
}