.last {
    background-image: url(../ip/img/con.jpeg);
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 3%;
}